.portfolio
	text-align: center

	&-menu
		display: flex
		justify-content: space-around


		&-item
			padding: 11px 0
			text-decoration: none
			color: #fc635e;
			font-size: 20px;
			font-weight: 300;
			line-height: 26px;
			text-transform: uppercase;
	&-line
		border: 1px solid #adadad;

	&-photo
		display: flex
		// justify-content: center
		font-size: 0

		&-img
			padding-bottom: 11px
			// object-fit: contain
			width: 100%
			// height: auto
			padding: 3px
			box-sizing: border-box
		&-img2
			width: 50%
			padding: 3px
			box-sizing: border-box


	&-photo1
		display: flex
		justify-content: space-between
.photo-all
	font-size: 0

.photo-cont
	display: flex
	flex-direction: column
	// display: inline-block
	// width: 50%

.line-pad
	margin-top: 37px
.line-down
	margin-bottom: 37px

.mrg-btn
	margin: 30px 0 50px



@media screen and (max-width: 749px)
	.portfolio
		&-menu
			display: block
			&-item
				display: block
				padding: 5px 0
		&-invisible
			display: none
		&-photo1
			display: block
	.photo-cont
		display: block
		width: 100%