@mixin clearfix
	&:after
		content: ''
		overflow: hidden
		display: block
		clear: both

@font-face
	font-family: "Gotham"
	src : url("../GothaProBol.otf")

body
	font-family: arial

.container
	max-width: 940px
	margin: 0 auto
	padding-top: 60px