@mixin clearfix
	&:after
		content: ''
		overflow: hidden
		display: block
		clear: both

@font-face
	font-family: "Gotham"
	src : url("../GothaProBol.otf")

body
	font-family: arial

.container
	max-width: 940px
	margin: 0 auto
	padding: 60px 10px 22px 10px

.bg
	background-position: 50% 50%
	background-repeat: no-repeat
	background-size: cover

.caption2
	font-size: 51px
	font-weight: 700
	text-transform: uppercase
	text-align: center
	position: relative
	color: #ffffff
	&-span
		color: #fc635e

.btn
	color: #fc635e;
	font-size: 24px;
	font-weight: 300;
	border: 2px solid #fc635e
	border-radius: 5px
	display: inline-block
	padding: 18px 40px